.footer {
  padding: 1rem 2rem;
  background-color: var(--color-bg-translucent);
  border-top: 1px solid var(--color-bg-tertiary);
  text-align: center;
  color: var(--color-text-muted);
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
}

.footerText {
  margin: 0;
}
