.header {
  padding: 1rem 2rem;
  background-color: var(--color-bg-translucent);
  border-bottom: 1px solid var(--color-bg-tertiary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  color: var(--color-text-primary);
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav {
  display: flex;
  align-items: center;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navLink {
  text-decoration: none;
  color: var(--color-ui-accent);
}
